{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        "dynamic-import-node",
        "transform-object-rest-spread"
    ]
}